<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691740424422-nhv582fuj0c37o0p7jqk08p480q6o09c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691740424422-nhv582fuj0c37o0p7jqk08p480q6o09c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691740424422-2a68ufu4n9ndocrf65rlltmo4vu7gd41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2XIbqqqMe2CtUTKuZ0ku707y_DshNLh4</string>
	<key>GCM_SENDER_ID</key>
	<string>691740424422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demo.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>test-2d5bf</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2d5bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691740424422:ios:36693b35f222f9305a6327</string>
</dict>
</plist>